:root {
  --main-header-color: #1877f2;
  --main-bg-color: #dadada;
  --secondary-bg-color: #FFFFFF;
  --divider: #a7a7a7;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--main-bg-color);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

nav, footer {
  background-color: var(--secondary-bg-color);
}

hr {
  color: var(--divider);
  filter: blur(3px);
}

/* Mobile, default */
@media screen and (max-width: 767px) {
  nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  main {
    grid-column: 2 / 12;
    grid-row: 2 / 12;
  }
  footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
  }
  .desktop {
    display: none;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  main {
    grid-column: 3 / 11;
    grid-row: 2 / 12;
  }
  footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
  }
  .desktop {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  main {
    grid-column: 4 / 10;
    grid-row: 2 / 12;
  }
  footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
  }
  .mobile {
    display: none;
  }
}
