body {
  font-family: system-ui, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

/* Mobile, default */
@media screen and (max-width: 767px) {
  nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: pink;
  }
  main {
    grid-column: 2 / 12;
    grid-row: 2 / 12;
    background-color: blue;
  }
  footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
    background-color: green;
  }
  .desktop {
    display: none;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: pink;
  }
  main {
    grid-column: 3 / 11;
    grid-row: 2 / 12;
    background-color: blue;
  }
  footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
    background-color: green;
  }
  .desktop {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: pink;
  }
  main {
    grid-column: 4 / 10;
    grid-row: 2 / 12;
    background-color: blue;
  }
  footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
    background-color: green;
  }
}
